{% extends "base.html" %}
{% block title %}Formulario de Entrenador{% endblock title %}
{% block content %}
{# Formulario de creación y edición de entrenadores con campos de Bootstrap y carga de imagen. #}
<div class="row justify-content-center mt-4">
  <div class="col-12 col-md-8 col-lg-6">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit" class="btn btn-primary mt-3">Guardar</button>
        <a href="{% url 'pokedex:index' %}" class="btn btn-secondary mt-3">Cancelar</a>
    </form>
  </div>
</div>
{% endblock content %}
